body{
    background-color: darkgrey;
    font-family: consolas;
}

div.panel{
    width: 50%;
    min-width: 350px;
    background-color: ghostwhite;
    border: 5px solid papayawhip;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
   padding: 20px;
   box-shadow: 10px 10px 5px grey;
}

button{
    font-family: consolas;
    font-weight: bold;
}

input{
    font-family: consolas;
    padding: 3px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    width: 200px;
}

